/* En todo el HTML, se deja sin margen y espacios en los elementos */
* {
    margin: 0;
    padding: 0;
}

/* Un ancho de 80% al cuerpo de la página y centrado */
body {
    width: 80%;
    margin: 40px auto;
    padding: 20px;
    border: 2px solid #7152F4;
    color: #fff;
    text-align: center;
}

/* Se aplican un margen y espacios internos */
div#header {
    margin: 10px;
    padding: 20px;
	background-color: #7152F4;
}

/* Espacio interno */
div#wrapper {
    padding: 10px;
}

/* Un alto para todos los divs hijos de #wrapper (right_side, left_side, content_area) */
div#wrapper div {
    height: 300px;
}

/* Contenedor centrado con un ancho de 58% al content_area */
div#wrapper div#content_area {
    margin: 0px auto;
    width: 58%;
    background-color: rgba(0, 0, 0, .2);
}

/* Un ancho de 18% para los contenedores de los lados */
div#wrapper div#left_side, div#right_side {
    width: 18%;
}

/* Se alinea a la izquierda el contenedor left_side */
div#wrapper div#left_side {
    float: left;
    background-color: #52f471;
}

/* Se alinea a la derecha el contenedor right_side */
div#wrapper div#right_side {
    float: right;
    background-color: #f452d5;
}

/* Se agrega un margen y un espacio interno al footer, recuerda que hay una etiqueta para esto */
div#footer {
    margin: 10px;
    padding: 20px;
	background-color: #7152F4;
}